.about {
  background-color: #F1F1F1;
  width: 77%;
  display: flex;
  justify-content: right;
  margin-top: -975px;
  margin-left: 23%;
 
}

.about_title{
  color: #C9C9C9;
  font-family: 'Mulish', sans-serif;
  margin-left: 5%;
  font-size: 20px;
  font-weight: 100;
}


.about_subtitle{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-left: 7%;
  font-size: 30px;
}

.about_desc{
  font-family: 'Antic Didone', serif;
  font-weight: 100;
  margin-left: 9%;
  margin-right: 9%;
  font-size: 22px;
  padding-bottom: 50px;
}