.intro {
  display: flex;
  flex-direction: row;
}

.left_img {
  opacity: 0.1
}

h1.left_img_header {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-weight: 500;
  text-align: left;
}


p.left_img_text {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  width: 814px;
  text-align: left;
}


.container_left_img {
  position: relative;
  text-align: center;
}