div.sideNav {
background-color: #DCF2FA;
height: 975px;
width: 23%;
margin-top: -4px;
display: flex;
align-items: center;
flex-direction: column;
}

.nav_img {
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav_name {
  text-align: center;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin-bottom: -12px;
  margin-top: 45px;
}

.nav_email {
  text-align: center;
  color: black;
  font-family: 'Antic Didone', serif;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 62px;
}

.nav_button {
	background-color:transparent;
	border-radius:18px;
	color: black;
  font-family: 'Playfair Display', serif;
	font-size:22px;
	padding:11px 31px;
	text-decoration:none;
}
.nav_button:hover {
	background-color:transparent;
}
.nav_button:active {
	position:relative;
	top:1px;
}

.nav_button_group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 2em;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: black;
  user-select: none;
 
}

.icon_button_group {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
